body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.header-logo-web {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.header-logo-studio {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
        
}
.header-nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
    }
.adrress-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.adrress-link:hover,
.adrress-link:focus {
    color: #404bbf;
}
.main {
    background-color: #2E2F42;
}
.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.main-button {
    background-color:#4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
.about-subtitle {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025em;
}